<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.5.2">
            <assemblies>
                <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </assemblies>
        </compilation>
        <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" />
        <globalization culture="en-US" uiCulture="en" requestEncoding="utf-8" responseEncoding="utf-8" resourceProviderFactoryType="EPiServer.Framework.Localization.LocalizationServiceResourceProviderFactory, EPiServer.Framework" />
        <pages validateRequest="false" enableEventValidation="true" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <controls>
                <add tagPrefix="EPiServer" namespace="EPiServer.Web.WebControls" assembly="EPiServer" />
                <add tagPrefix="EPiServer" namespace="EPiServer.Web.WebControls" assembly="EPiServer.Web.WebControls" />
                <add tagPrefix="XForms" namespace="EPiServer.XForms.WebControls" assembly="EPiServer.XForms" />
                <add tagPrefix="EPiServer" namespace="EPiServer.Framework.Web.WebControls" assembly="EPiServer.Framework" />
            </controls>
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Linq" />
                <add namespace="System.Collections.Generic" />
                <add namespace="EPiServer.Shell.Web.Mvc.Html" />
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.WebPages" />
                <add namespace="EPiServer.Framework.Web.Mvc.Html" />
            </namespaces>
        </pages>
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.ApplicationModules" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Data.Cache" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Data" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Events" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Framework" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Licensing" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Shell" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Configuration" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Enterprise" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.ImageLibrary" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.LinkAnalyzer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Web.WebControls" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.XForms" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
            </dependentAssembly>
            <probing privatePath="modulesbin" />
            <dependentAssembly>
                <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.30930.28736" newVersion="3.0.30930.28736" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Business.Commerce" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Commerce.Internal.Migration" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.BusinessFoundation.Data" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.BusinessFoundation" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.Commerce" publicKeyToken="6e58b501b34abce3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.Commerce.Marketing.Validators" publicKeyToken="null" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.Commerce.Plugins.Payment" publicKeyToken="null" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.Commerce.Plugins.Shipping" publicKeyToken="null" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.Commerce.Website" publicKeyToken="6e58b501b34abce3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.Commerce.Workflow" publicKeyToken="null" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.DataProvider" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.FileUploader" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.MetaDataPlus" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.Search" publicKeyToken="6e58b501b34abce3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.Search.Extensions" publicKeyToken="6e58b501b34abce3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.Search.LuceneSearchProvider" publicKeyToken="null" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.SqlDataProvider" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mediachase.WebConsoleLib" publicKeyToken="null" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.1125" newVersion="9.0.0.1125" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="nsoftware.IBizPay" publicKeyToken="cdc168f89cffe9cf" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.3575.0" newVersion="4.1.3575.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="WebDAVModule" />
        </modules>
        <handlers>
            <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <add name="ReportingHttpHandler" preCondition="integratedMode" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </handlers>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".gif" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
                <add extension=".png" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
                <add extension=".js" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
                <add extension=".css" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
                <add extension=".jpg" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
                <add extension=".jpeg" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>